cdk/node_modules
cdk/cdk.out
cdk.out
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.env
*.txt
!**/lambdas/**/content/*.txt
!**/tests/requirements-test.txt
.venv/
**/lambdas/**/.venv/